<div>
    <h1>Services</h1>
    <br>
    <div id="services">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Web Development</h5>
                  <p class="card-text">Using php, mean stack, python, java etc.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Android Development</h5>
                  <p class="card-text">Using React Native, Swift etc.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Data</h5>
                  <p class="card-text">Data manipulation, analysis, visualization.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>